*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
backend/build
/captures
.externalNativeBuild
native/KotlinIOS/KotlinIOS.xcodeproj/project.xcworkspace/xcuserdata/andrey.xcuserdatad/UserInterfaceState.xcuserstate